<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    
    <title>Document</title>
</head>
<body class="body-div">
    <!-- top Most Div Starts here  -->

    <div class="topdiv">
        <div class="pageintro">
            <div class="intro-content">
                <div class="nav">
                    <div class="companylogo">
                        <!-- <h1>Glamu-Electronics</h1> -->
                        <h1>glamu</h1>
    
                    </div>
                    <div class="nav-menu">
                        <div class="top-menu-buttons">
    
                            <h2>Home</h2>
                        </div>
                        <div class="top-menu-buttons">
    
                            <h2>Products</h2>
                        </div>
                        <div class="top-menu-buttons">
                            <h2>Categories</h2>
    
                        </div>
                    </div>
                    </div>
                    <div class="welcome_message">
                        <p>Welcome to Glamu-Electronics. We're glad to have you here. Please take a moment to explore our site and learn more about
                        our products and services. If you have any questions or need assistance, please don't hesitate to contact us. Thank you
                        for visiting Glamu-Electronics.
    </p>
                    </div>

            </div>
            
        </div>
    </div>

<!--First products div Starts here  -->

    <div class="products">
        
            <h1 class="products-title">
                Products
            </h1>
            
        
        <div class="products-display">
           
                    
            <div class="product">
                <img class="product-image" src="../Static/electronicsicscircuits-shop.jpeg">
                
            
                
                    <h3 class="product-name">
                        Product Name
                    </h3>
                
                
                    <button class="product-price">
                        Product Price
                    </button>
                
            </div>
            <div class="product">
                <img class="product-image" src="../Static/electronicsicscircuits-shop.jpeg">
                
                    <h3 class="product-name">
                        Product Name
                    </h3>
                
                
                    <button class="product-price">
                       Ksh 2500000
                    </button>
                
            </div> 
            <div class="product">
                <img class="product-image" src="../Static/electronicsicscircuits-shop.jpeg">
            
                    <h3 class="product-name">
                        Product Name
                    </h3>
                
              
                    <button class="product-price">
                        Product Price
                    </button>
               
            </div> 
            
            

        </div>
        <div class="nav-display">
            <h1>0</h1>

        </div>

    </div>

    <!-- Featured products div Starts here  -->
    <div class="featured-products">
        <div class="featured-title">
            <h1>Featured Products</h1>
        </div>
        <div class="featured-categories">
            <button>
                Categories
            </button>
            <button>
                ICS
            </button>
            <button>
                Brand
            </button>
            <button>
                Button
            </button>
            <button>
                Connectors
            </button>

        </div>
        <div class="featured-products-display">
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
                
                <div class="featured-product-detail">

                    <p class="featured-product-name">
                      
                
                            Product Name
                        
                    </p>
                    <p class="featured-product-description">
                        This product contains  this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
                      
                            View Item
                       
                    </button>
                </div>
            </div>
          
            
        </div>
    </div>


    <div class="recent-products">
        <div class="featured-title">
            <h1>Recent Products</h1>
        </div>
        <div class="featured-products-display">
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
        
                <div class="featured-product-detail">
        
                    <p class="featured-product-name">
        
        
                        Product Name
        
                    </p>
                    <p class="featured-product-description">
                        This product contains this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
        
                        View Item
        
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
        
                <div class="featured-product-detail">
        
                    <p class="featured-product-name">
        
        
                        Product Name
        
                    </p>
                    <p class="featured-product-description">
                        This product contains this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
        
                        View Item
        
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
        
                <div class="featured-product-detail">
        
                    <p class="featured-product-name">
        
        
                        Product Name
        
                    </p>
                    <p class="featured-product-description">
                        This product contains this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
        
                        View Item
        
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
        
                <div class="featured-product-detail">
        
                    <p class="featured-product-name">
        
        
                        Product Name
        
                    </p>
                    <p class="featured-product-description">
                        This product contains this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
        
                        View Item
        
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
        
                <div class="featured-product-detail">
        
                    <p class="featured-product-name">
        
        
                        Product Name
        
                    </p>
                    <p class="featured-product-description">
                        This product contains this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
        
                        View Item
        
                    </button>
                </div>
            </div>
            <div class="featured-product">
                <img class="featured-product-image" src="../Static/automations-powered-by-ics-and-arduinos-image-.jpeg">
        
                <div class="featured-product-detail">
        
                    <p class="featured-product-name">
        
        
                        Product Name
        
                    </p>
                    <p class="featured-product-description">
                        This product contains this and performs that while also having features those
                    </p>
                    <button class="featured-product-view">
        
                        View Item
        
                    </button>
                </div>
            </div>

        </div>

    </div>




    <div class="footer">
        <div class="footer-details">
            <div class="company-details">

            </div>
            <div class="about-company">

            </div>
            <div class="other-details">
                
            </div>
        </div>

    </div>

    
</body>
</html>