<link rel="stylesheet" href="../Static/css/style.css">
<div class="product_container">
    <div class="product-general">
        <div class="product-images">
            <img src="../Static/A55A35.jpg" alt="">

        </div>
        <div class="product-display-details">
            <h2 class="product-display-name">
                Phone Name
            </h2>
            <p class="product-detail">
                This phone is x storage y ram qwe mah battery and wifi is e.t and w simcard nano 

            </p>
            <h2 class="product-category">
                Electronics Gadgets

            </h2>
            <p class="product-category-sub">
                Phones

            </p>
            <p class="product-category-sub-sub">
                High-end

            </p>

            <button class="product-display-price">
                Ksh 250000

            </button>
            <button class="product-order">
                Order On whatsapp

            </button>


        </div>
    </div>
        <div class="product-descriptions">
            <h2 class="product-description-title">Product Description</h2>
            <ul class="product-descriptions-all">
            
                
                 
                
                
                <li class="product-description">Powered by an Intel Core i5 13th Gen 13420H 1.5GHz Processor for fast and efficient performance.</li>
                <li class="product-description">Equipped with an NVIDIA GeForce RTX 3050 6GB GDDR6 graphics card for excellent gaming visuals.</li>
                <li class="product-description">Includes 8GB of DDR4-3200 RAM for smooth multitasking and gameplay.</li>
                <li class="product-description">Features a spacious 512GB Solid State Drive for quick data access and storage.</li>
                <li class="product-description">Boasts a vibrant 15.6″ FHD IPS Micro-Edge Anti-Glare 144Hz Display for immersive gaming experiences.</li>
                <li class="product-description">Intel Core i5 13th Gen 13420H 2.1GHz Processor NVIDIA GeForce RTX 3050 6GB GDDR6 8GB DDR4-3200 RAM.</li>
            </ul>
        </div>
    

</div>